app/__pycache__/
app/.idea
app/database/__pycache__
app/database/db.sqlite
app/grabber/__pycache__
app/grabber/donqhomo.session
app/instagram/__pycache__
app/tiktok/__pycache__
app/youtube/__pycache__
app/venv
.env
config.ini
donqhomo.session
chromedriver
